<!DOCTYPE html>
<html style="height:100%;">
<head>
    <title>军队给养信息系统</title>
</head>

<body>
<div style="width: 365px;margin: 0px auto;">
    <form action="/demo/login" method="post" name="loginform">
        <input type="text" name="userLogin" id="userLogin" value="scadmin" class="form-control uname"
               placeholder="请输入登录名">
        <input type="password" name="userPassword" id="userPassword" value="abc123" class="form-control pword"
               placeholder="请输入密码">
        <input id="loginSubmit" type="submit" class="btn btn-block btn-sign" value="登 录"/>
    </form>
</div><!-- col-sm-5 -->


</body>
</html>
